<div id="admin-banners">
    <form class="form-horizontal" name="bannersForm" ng-submit="save()" novalidate>
        <div class="formLayout">
            <div class="form-group">
                <div class="col-xs-12">
                    <h4 class="font-22R87">{{ 'zappBanners.admin.title' | translate }}</h4>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12">
                    <zy-config-row type="textarea" label="{{'zappBanners.admin.headerLabel' | translate}}" name="header" ng-model="model.header"></zy-config-row>
                </div>
                <div class="col-xs-12">
                    <zapp-banner position="header" source="model.header"></zapp-banner>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12 font-12R87">
                    <zy-config-row type="textarea" label="{{'zappBanners.admin.widgetLabel' | translate}}" name="widget" ng-model="model.widget"></zy-config-row>
                </div>
                <div class="col-xs-12">
                    <zapp-banner position="widget" source="model.widget">></zapp-banner>
                </div>
            </div>

            <div class="form-group action-buttons">
                <div class="pull-left col-xs-12 footer-settings">
                    <div class="clearfix">
                        <button class="btn btn-success" ng-class="{'disabled' : bannersForm.$invalid}" type="submit">{{ 'generic.save' | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>